.data {
  font-size: 14px;
  color: var(--ion-color-medium);
  line-height: 1.6;
  
  strong {
    color: var(--ion-color-dark);
    font-weight: 700; // ✅ Label en negrita
  }
  
  // ✅ Hacer que TODO el texto sea más grueso
  font-weight: 500;
}
ion-card{
  gap: 100px;
  padding: 20px 0;
  border-radius: 15px;
}

ion-content{
  --padding-bottom: 70px;
}